/*
* @Author: liumin
* @Date:   2016-05-09 07:47:45
* @Last Modified by:   liumin
* @Last Modified time: 2016-05-11 21:20:47
*/
body {
  font-size: 14px;
  font-family: "microsoft yahei";
  padding-bottom: 70px;
  background: #F2F2F2;
}
body a {
  text-decoration: none;
  color: #373737;
}
body a:hover {
  text-decoration: none;
  color: #DB2944;
}

.maxw {
  max-width: 768px;
}

.container-fluid {
  padding: 0;
}

#carousel-804485 {
  margin-bottom: 20px;
}
#carousel-804485 .carousel-indicators {
  margin-bottom: 0;
}
#carousel-804485 .carousel-indicators li {
  background: #fff;
}
#carousel-804485 .carousel-indicators .active {
  border-color: #DB2944;
  width: 10px;
  height: 10px;
  background: none;
}
#carousel-804485 .carousel-inner img {
  width: 100%;
}

.search-top {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
}
.search-top .form-group {
  position: relative;
}
.search-top input {
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding-right: 40px;
}
.search-top label {
  position: absolute;
  right: 10px;
  top: 10px;
  border-left: 1px #ccc solid;
  padding-left: 10px;
  height: 20px;
  margin: 0;
}
.search-top label img {
  max-width: 20px;
}
.search-top .submitbtn {
  position: absolute;
  opacity: 0;
  right: 0px;
  top: 5px;
  width: 10px;
  height: 30px;
}

.nopadding {
  padding: 0;
}

.fenleis {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
.fenleis img {
  margin-bottom: 5px;
  max-width: 40px;
}
.fenleis a {
  width: 100%;
  display: block;
}

.zhuanqus {
  width: 100%;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 10px;
}
.zhuanqus .col-xs-6 {
  padding: 5px;
}
.zhuanqus .zhuanqu {
  position: relative;
}
.zhuanqus .zhuanqu img {
  width: 100%;
}
.zhuanqus .zhuanqu .righttitle, .zhuanqus .zhuanqu .lefttitle {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
  color: #fff;
  text-shadow: 1px 1px 3px #666;
  font-size: 20px;
  font-weight: bold;
}
.zhuanqus .zhuanqu .lefttitle {
  right: auto;
  left: 20px;
}

.tuijiantitle, .miandantitle {
  margin: 0;
  font-size: 18px;
  color: #999;
  margin-bottom: 5px;
}

.miandantitle {
  padding-left: 5px;
  color: #666;
}

.tuijians {
  width: 100%;
  padding: 0 15px;
  margin: 0;
}

.baseColor {
  color: #DB2944;
}

.num {
  margin: 0 3px;
}

.btn1, .btn2, .fenleiright .shangpinjianjie .buylink .btnlong, .qrbtns .qrbtn1, .qrbtns .qrbtn2, .membersbox .memberstitle .memberbtn, .miandanlist1 .miandanfoot .wait, .me .btnqd {
  padding: 5px 15px;
  background: #725E60;
  color: #fff;
  border-radius: 3px;
}
.btn1:hover, .btn2:hover, .fenleiright .shangpinjianjie .buylink .btnlong:hover, .qrbtns .qrbtn1:hover, .qrbtns .qrbtn2:hover, .membersbox .memberstitle .memberbtn:hover, .miandanlist1 .miandanfoot .wait:hover, .me .btnqd:hover {
  background: #503c3e;
}

.btn2, .fenleiright .shangpinjianjie .buylink .btnlong {
  background: #DB2944;
}
.btn2:hover, .fenleiright .shangpinjianjie .buylink .btnlong:hover {
  background: #b90722;
}

.shangpin {
  position: relative;
  background: #fff;
  height: 180px;
  margin-bottom: 15px;
}
.shangpin .shangpinimg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 130px;
  height: 180px;
}
.shangpin .shangpininfo {
  margin-left: 140px;
  padding-top: 10px;
  padding-right: 10px;
}
.shangpin .shangpininfo h4 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #666;
}
.shangpin .shangpininfo .leixin {
  color: #DB2944;
  font-size: 12px;
  margin-bottom: 5px;
}
.shangpin .shangpininfo .leixin .price {
  font-size: 14px;
  color: #F00B2C;
  font-weight: bold;
}
.shangpin .shangpininfo .leixin .jg {
  margin: 0 5px;
}
.shangpin .shangpininfo .info {
  font-size: 10px;
  margin-bottom: 10px;
  color: #999;
}
.shangpin .shangpininfo .price2 {
  background: #DB2944;
  padding: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
}
.shangpin .shangpininfo .price2 .jg {
  margin: 0 5px;
}
.shangpin .shangpininfo .price2 .big {
  font-size: 14px;
}
.shangpin .shangpininfo .price3 {
  font-size: 10px;
  margin-top: 3px;
  color: #999;
}
.shangpin .shangpininfo .price3 .jg {
  margin-left: 5px;
}
.shangpin .shangpininfo .gmlc {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

.shangpinliebiao1 {
  width: 100%;
  padding: 0 10px;
  margin: 0;
}
.shangpinliebiao1 .col-xs-6 {
  padding: 0;
}

.shangpinjianjie {
  margin: 0 5px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
}
.shangpinjianjie .jianjieimg {
  position: relative;
  height: 150px;
}
.shangpinjianjie .jianjieimg img {
  position: absolute;
  max-width: 100%;
  max-height:100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.shangpinjianjie .jianjieinfo {
  color: #333;
}
.shangpinjianjie .jianjieinfo h3 {
  font-size: 10px;
  margin: 0;
}
.shangpinjianjie .jianjieinfo p {
  margin: 0;
}
.shangpinjianjie .jianjieinfo .jianjieleixin {
  font-size: 10px;
}
.shangpinjianjie .jianjieinfo .jianjieprice {
  font-size: 14px;
  color: #DB2944;
}

.navbar-bottom-my {
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #fff;
}
.navbar-bottom-my img {
  margin-bottom: 5px;
  max-width: 30px;
  max-height: 30px;
}
.navbar-bottom-my .img1 {
  display: block;
}
.navbar-bottom-my .img2 {
  display: none;
}
.navbar-bottom-my a {
  width: 100%;
  display: block;
}
.navbar-bottom-my a:hover {
  color: #FF7429 !important;
}
.navbar-bottom-my a:hover .img1 {
  display: none;
}
.navbar-bottom-my a:hover .img2 {
  display: block;
}
.navbar-bottom-my .active a {
  color: #FF7429;
}
.navbar-bottom-my .active a .img1 {
  display: none;
}
.navbar-bottom-my .active a .img2 {
  display: block;
}

.goods {
  margin: 0 5px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 10px 15px;
  position: relative;
}
.goods .goodsimg {
  position: relative;
  height: 120px;
}
.goods .goodsimg img {
  position: absolute;
  max-width: 70px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.goods .goodsinfo h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.goods .goodsinfo p {
  margin: 0;
}
.goods .goodsinfo .yhjinfo {
  font-size: 10px;
  color: #777;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #EE8149;
  color: #fff;
  border-radius: 100px;
  padding: 5px;
  line-height: 1.2em;
  width: 35px;
  height: 35px;
  text-align: center;
}
.goods .goodsinfo .yhjinfo .num {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.goods .goodsinfo .goodsprice {
  margin-bottom: 10px;
  color: #777;
}
.goods .goodsinfo .goodsprice span {
  font-size: 12px;
}
.goods .goodsinfo .goodsprice .price1 {
  padding-top: 15px;
}
.goods .goodsinfo .goodsprice .price2 {
  font-size: 16px;
}
.goods .goodsinfo .btn1, .goods .goodsinfo .btn2, .goods .goodsinfo .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .goods .goodsinfo .btnlong, .goods .goodsinfo .qrbtns .qrbtn1, .qrbtns .goods .goodsinfo .qrbtn1, .goods .goodsinfo .qrbtns .qrbtn2, .qrbtns .goods .goodsinfo .qrbtn2, .goods .goodsinfo .membersbox .memberstitle .memberbtn, .membersbox .memberstitle .goods .goodsinfo .memberbtn, .goods .goodsinfo .miandanlist1 .miandanfoot .wait, .miandanlist1 .miandanfoot .goods .goodsinfo .wait, .goods .goodsinfo .me .btnqd, .me .goods .goodsinfo .btnqd {
  padding: 5px 18px;
}

.goodslist {
  width: 100%;
  padding: 15px 10px 5px;
  margin: 0;
}
.goodslist .col-xs-6 {
  padding: 0;
}

.qr {
  margin: 60px 0;
}
.qr h3 {
  font-size: 16px;
  font-weight: 100px;
  color: #666;
}
.qr img {
  max-width: 175px;
}

.qrform {
  padding: 0 15px;
  margin-bottom: 10px;
}
.qrform span {
  font-size: 14px;
  font-weight: 100px;
  color: #666;
}
.qrform .qrinput {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px #ccc solid;
}

.qrbtns {
  padding: 15px;
}
.qrbtns .qrbtn1, .qrbtns .qrbtn2 {
  border-radius: 5px;
  padding: 12px 0;
  width: 150px;
  display: inline-block;
}
.qrbtns .qrbtn2 {
  background: #EE8149;
}
.qrbtns .qrbtn2:hover {
  background: #cc5f27;
}

.membersbox {
  background: #fff;
  margin-bottom: 10px;
}
.membersbox .memberstitle {
  padding: 20px 15px 22px;
}
.membersbox .memberstitle h3 {
  font-size: 14px;
  color: #666;
  margin: 0;
}
.membersbox .memberstitle .baseColor {
  font-size: 12px;
}
.membersbox .memberstitle .membernum {
  font-size: 12px;
  margin: 0 3px;
}
.membersbox .memberstitle .memberbtn {
  padding: 5px 25px;
  font-size: 12px;
  background: #FF5A00;
}
.membersbox .memberstitle .memberbtn:hover {
  background: #dd3800;
}
.membersbox .members {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: padding;
  /* Firefox 4 */
  transition-property: padding;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 15px;
}
.membersbox .members .member {
  max-height: 70px;
  width: 20%;
  margin-bottom: 10px;
}
.membersbox .members .member h4 {
  font-size: 12px;
}
.membersbox .members .member img {
  max-width: 35px;
}

.active .members {
  opacity: 1;
  padding: 15px 15px 0;
  height: auto;
  min-height: 50px;
  border-top: 1px #ddd solid;
}
.active .memberbtn {
  background: #5C5C5C !important;
}
.active .memberbtn:hover {
  background: #3a3a3a !important;
}

.fenleiright {
  margin-left: 100px;
  box-shadow: -3px 0 10px #ccc;
  z-index: 80;
}
.fenleiright .search-top {
  position: static;
  z-index: 99;
}
.fenleiright .search-top .form-group {
  margin: 0;
}
.fenleiright .shangpinjianjie .jianjieimg {
  height: 120px;
}
.fenleiright .shangpinjianjie h3 {
  font-weight: bold;
}
.fenleiright .shangpinjianjie .buylink {
  margin-top: 5px;
}
.fenleiright .shangpinjianjie .buylink .btnlong {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
.fenleiright .shangpinjianjie .buylink .btn2, .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .btn1, .fenleiright .shangpinjianjie .buylink .btn2, .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .qrbtns .qrbtn1, .qrbtns .fenleiright .shangpinjianjie .buylink .qrbtn1, .fenleiright .shangpinjianjie .buylink .qrbtns .qrbtn2, .qrbtns .fenleiright .shangpinjianjie .buylink .qrbtn2, .fenleiright .shangpinjianjie .buylink .membersbox .memberstitle .memberbtn, .membersbox .memberstitle .fenleiright .shangpinjianjie .buylink .memberbtn, .fenleiright .shangpinjianjie .buylink .miandanlist1 .miandanfoot .wait, .miandanlist1 .miandanfoot .fenleiright .shangpinjianjie .buylink .wait, .fenleiright .shangpinjianjie .buylink .me .btnqd, .me .fenleiright .shangpinjianjie .buylink .btnqd {
  display: inline-block;
  padding: 5px 9px;
  font-size: 12px;
  color: #fff;
}

.fenleileft {
  width: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.links {
  margin: 0;
  padding: 0;
}
.links li {
  text-align: center;
}
.links li a {
  padding: 10px 0;
  display: block;
}
.links .active {
  background: #ff5a00;
}
.links .active a {
  color: #fff;
}

.activites {
  width: 100%;
  padding: 15px;
  margin: 0;
}

.activity {
  position: relative;
  border-radius: 5px;
  border-bottom: 1px #333 solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-color: #ccc;
  box-shadow: 0 1px 0px #ccc;
  background: #fff;
}
.activity .activityimg {
  width: 100%;
  margin-bottom: 15px;
}
.activity .imgtip {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
}
.activity .activityinfo {
  position: relative;
}
.activity .activitytip {
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 5px;
  background: #ff5400;
  color: #fff;
  border-radius: 100px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.activity p, .activity h3 {
  margin: 0;
}
.activity .activityarticle, .activity .activitytitle, .activity .activityfoot {
  margin-left: 30px;
  color: #666;
}
.activity .activitytitle {
  font-size: 16px;
  margin-bottom: 3px;
}
.activity .activityarticle {
  font-size: 12px;
}
.activity .price1 {
  font-size: 14px;
  font-weight: bold;
}
.activity .btn1, .activity .btn2, .activity .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .activity .btnlong, .activity .qrbtns .qrbtn1, .qrbtns .activity .qrbtn1, .activity .qrbtns .qrbtn2, .qrbtns .activity .qrbtn2, .activity .membersbox .memberstitle .memberbtn, .membersbox .memberstitle .activity .memberbtn, .activity .miandanlist1 .miandanfoot .wait, .miandanlist1 .miandanfoot .activity .wait, .activity .me .btnqd, .me .activity .btnqd, .activity .btn2, .activity .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .activity .btnlong {
  font-size: 12px;
  color: #fff;
  padding: 7px 10px;
}
.activity .btn1, .activity .btn2, .activity .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .activity .btnlong, .activity .qrbtns .qrbtn1, .qrbtns .activity .qrbtn1, .activity .qrbtns .qrbtn2, .qrbtns .activity .qrbtn2, .activity .membersbox .memberstitle .memberbtn, .membersbox .memberstitle .activity .memberbtn, .activity .miandanlist1 .miandanfoot .wait, .miandanlist1 .miandanfoot .activity .wait, .activity .me .btnqd, .me .activity .btnqd {
  margin-right: 10px;
}

.miandanlist1 {
  width: 100%;
  padding: 10px;
  margin: 0;
}
.miandanlist1 .wks {
  background: #767676 !important;
  line-height: 35px !important;
  padding: 0 !important;
}
.miandanlist1 .miandanfoot .miandantime {
  position: absolute;
  bottom: 5px;
  margin: 0;
}
.miandanlist1 .miandanfoot .miandantime dd {
  font-size: 10px;
  color: #999;
}
.miandanlist1 .miandanfoot .miandantime dt {
  font-size: 16px;
  color: #DB2944;
  font-weight: 100;
}
.miandanlist1 .miandanfoot .wait {
  background: #8e8e8e;
}
.miandanlist1 .miandanfoot .wait:hover {
  background: #6c6c6c;
}

.miandanlist2 {
  width: 100%;
  padding: 0 15px;
  margin: 0;
}

.miandanshangpin {
  position: relative;
  background: #fff;
  height: 150px;
  margin-bottom: 10px;
}
.miandanshangpin .miandanshangpinimg {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.miandanshangpin .miandanshangpininfo {
  padding-top: 10px;
  padding-right: 10px;
  margin-left: 130px;
}
.miandanshangpin .miandanshangpininfo .miandanshangpintitle {
  margin: 0;
  font-size: 16px;
}
.miandanshangpin .miandanshangpininfo .miandanshangpinprice {
  font-size: 12px;
}
.miandanshangpin .miandanshangpininfo .price2 {
  color: #DB2944;
  font-size: 16px;
}
.miandanshangpin .other {
  color: #ff5400;
}
.miandanshangpin .miandanshangpinfoot {
  position: absolute;
  bottom: 15px;
}
.miandanshangpin .miandanshangpinfoot .btn1, .miandanshangpin .miandanshangpinfoot .btn2, .miandanshangpin .miandanshangpinfoot .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .miandanshangpin .miandanshangpinfoot .btnlong, .miandanshangpin .miandanshangpinfoot .qrbtns .qrbtn1, .qrbtns .miandanshangpin .miandanshangpinfoot .qrbtn1, .miandanshangpin .miandanshangpinfoot .qrbtns .qrbtn2, .qrbtns .miandanshangpin .miandanshangpinfoot .qrbtn2, .miandanshangpin .miandanshangpinfoot .membersbox .memberstitle .memberbtn, .membersbox .memberstitle .miandanshangpin .miandanshangpinfoot .memberbtn, .miandanshangpin .miandanshangpinfoot .miandanlist1 .miandanfoot .wait, .miandanlist1 .miandanfoot .miandanshangpin .miandanshangpinfoot .wait, .miandanshangpin .miandanshangpinfoot .me .btnqd, .me .miandanshangpin .miandanshangpinfoot .btnqd {
  background: #ff5400;
  margin-right: 5px;
}
.miandanshangpin .miandanshangpinfoot .btn1:hover, .miandanshangpin .miandanshangpinfoot .btn2:hover, .miandanshangpin .miandanshangpinfoot .fenleiright .shangpinjianjie .buylink .btnlong:hover, .fenleiright .shangpinjianjie .buylink .miandanshangpin .miandanshangpinfoot .btnlong:hover, .miandanshangpin .miandanshangpinfoot .qrbtns .qrbtn1:hover, .qrbtns .miandanshangpin .miandanshangpinfoot .qrbtn1:hover, .miandanshangpin .miandanshangpinfoot .qrbtns .qrbtn2:hover, .qrbtns .miandanshangpin .miandanshangpinfoot .qrbtn2:hover, .miandanshangpin .miandanshangpinfoot .membersbox .memberstitle .memberbtn:hover, .membersbox .memberstitle .miandanshangpin .miandanshangpinfoot .memberbtn:hover, .miandanshangpin .miandanshangpinfoot .miandanlist1 .miandanfoot .wait:hover, .miandanlist1 .miandanfoot .miandanshangpin .miandanshangpinfoot .wait:hover, .miandanshangpin .miandanshangpinfoot .me .btnqd:hover, .me .miandanshangpin .miandanshangpinfoot .btnqd:hover {
  color: #fff;
  background: #dd3200;
}
.miandanshangpin .miandanshangpinfoot .btn2, .miandanshangpin .miandanshangpinfoot .fenleiright .shangpinjianjie .buylink .btnlong, .fenleiright .shangpinjianjie .buylink .miandanshangpin .miandanshangpinfoot .btnlong {
  background: #8e8e8e;
}
.miandanshangpin .miandanshangpinfoot .btn2:hover, .miandanshangpin .miandanshangpinfoot .fenleiright .shangpinjianjie .buylink .btnlong:hover, .fenleiright .shangpinjianjie .buylink .miandanshangpin .miandanshangpinfoot .btnlong:hover {
  color: #fff;
  background: #6c6c6c;
}

.goodsdetails {
  background: #fff;
}
.goodsdetails .goodsimg {
  position: relative;
  height: 300px;
}
.goodsdetails .goodsimg img {
  position: absolute;
  max-width: 230px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.goodsdetails .goodstitle {
  padding: 15px 15px 10px;
  border-top: 1px #eee solid;
  font-size: 16px;
  color: #373737;
  margin: 0;
}
.goodsdetails .goodsprice {
  padding: 0 15px 15px;
  color: #DB2944;
  font-size: 12px;
}
.goodsdetails .goodsprice .big {
  font-size: 16px;
}

.qrs {
  padding: 10px;
}
.qrs .w50 {
  width: 50%;
  padding: 5px;
}
.qrs .qr {
  margin: 20px auto;
}
.qrs .qr img {
  max-width: 130px;
  margin-bottom: 10px;
}

.goodsintroduce {
  padding: 15px;
  border-bottom: 1px #dddddd solid;
}
.goodsintroduce .introduce {
  margin: 0;
  font-size: 18px;
  color: #666;
}
.goodsintroduce .p {
  color: #373737;
  font-size: 14px;
  margin: 10px 0;
  text-indent: 2em;
  line-height: 1.5em;
}

.me {
  position: relative;
  background: #fff;
  height: 130px;
  margin-bottom: 10px;
}
.me .head {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
}
.me .myinfo {
  position: relative;
  margin-left: 115px;
  padding: 15px;
}
.me .myinfo .name {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #373737;
}
.me .myinfo .info {
  font-size: 10px;
  margin-bottom: 5px;
  color: #373737;
}
.me .myinfo .myqb {
  margin: 0;
  font-size: 12px;
  color: #373737;
}
.me .myinfo .myqb .money {
  font-size: 16px;
  color: #DB2944;
}
.me .myinfo .myqb .qb {
  height: 14px;
  margin-right: 3px;
}
.me .btnqd {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  background: #ff5a00;
}
.me .btnqd:hover {
  background: #dd3800;
}
.me .qded {
  background: #8e8e8e;
}
.me .qded:hover {
  background: #6c6c6c;
}

.minelinks {
  background: #fff;
}
.minelinks li {
  height: 42px;
  border-bottom: 1px #f2f2f2 solid;
  padding: 0 15px;
}
.minelinks li a {
  font-size: 14px;
  height: 100%;
  display: block;
  line-height: 42px;
  width: 100%;
}
.minelinks li .num1 {
  border-radius: 100px;
  background: #ff5a00;
  display: inline-block;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
}
.minelinks li .num2 {
  color: #ff5a00;
  font-size: 16px;
  margin-right: 5px;
}

.from {
  margin-top: 70px;
}
.from p {
  font-size: 14px;
  color: #999;
}

.huodong {
  padding: 30px 0;
}
.huodong .choujiang {
  position: relative;
  width: 300px;
}
.huodong .choujiang .zp {
  width: 100%;
}
.huodong .choujiang .zz {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}
.huodong .wenzi {
  padding: 15px;
}
.huodong .wenzi .chishu {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}
.huodong .wenzi .num {
  color: #DB2944;
  font-size: 20px;
}
.huodong .wenzi .xinxi {
  margin: 15px;
}


